//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail


// 1. Global
// ---------

/*
  I Heart Reading Globals
*/
$ihr-main-white: #f0fafd;
$ihr-secondary-white: #b0bec5;
$ihr-main-light-blue: #00bfe8;
$ihr-main-dark-blue: #1b748f;
$ihr-secondary-dark-blue: #2f3b4c;
$ihr-palette-third-blue: #555f72;
$ihr-main-light-gray: #babec3;
$ihr-main-dark-gray: #9da6a8;
$ihr-secondary-dark-gray: #787e86;
$ihr-main-background-light-gray: #eceef2;
$ihr-validation-green: #20bb51;
$ihr-validation-green-button-border: #25904f;
$ihr-white: #fff;
$ihr-main-purple: #b39ddb;
$ihr-main-orange: #ff8761;
$ihr-main-yellow: #ffc400;
$ihr-pie-chart-blue: #38a4dd;
$ihr-card-blue: #57bdde;
$ihr-error-color: #d50000;
$ihr-success-color: #20bb51;
$ihr-primary-action: #b39ddb;
$ihr-card-shadow-color: #d7d9dd;
$ihr-legend-caption-color: #78909c;
$text-color: #4a5770;
$background-gray: #f9f9f9;
