@import 'foundation';
@import 'settings';
@import 'buttons';


table.body {
  background: $background-gray;
}

.main-content-container {
  border: 1px solid #dddddd;
  border-radius: 2px;
}

.ihr-header {
  background: $background-gray;
  color: $ihr-main-white;
}

.ihr-header-logo {
  background: $background-gray;
}

.white-text {
  color: $text-color;

  @media all {
    > a {
      &:visited {
        color: $text-color;
      }

      &:hover {
        color: $text-color;
      }

      &:focused {
        color: $text-color;
      }
    }
  }
}

.gray-text {
  color: $ihr-main-dark-gray;
}

.heart-icon {
  color: red;
}
