<wrapper class="ihr-header">
  <center>
    <container class="white-text">
      <row>
        <columns class="ihr-header" small="12" large="12">
          <spacer size="20"></spacer>
          <row>
            <columns>
              <center class="white-text">
                <a href="https://iheartreading.co">iheartreading.co</a>
              </center>
            </columns>
          </row>
          <row>
            <columns>
              <center class="white-text">
                Contact: jeremy.dagorn@gmail.com
              </center>
            </columns>
          </row>
        </columns>
      </row>
    </container>
  </center>
</wrapper>
